.container {
  margin: 20px auto;
}

.image-container {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 10px;
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
  background-size:cover
}
.button button {
   justify-content: center;
  text-align: center;
  background-color:grey;
  color:white;
  font-Size: 25px;
   height:auto;
   

}


